* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #080810;
  color: #fff;
  background-image: 
    radial-gradient(circle at 10% 20%, rgba(100, 43, 115, 0.1) 0%, rgba(4, 0, 4, 0) 50%),
    radial-gradient(circle at 90% 80%, rgba(100, 43, 115, 0.1) 0%, rgba(4, 0, 4, 0) 50%);
}

.battlefield-app {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.main-content {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  
  @media (max-width: 950px) {
    flex-direction: column;
    align-items: center;
  }
}